@page "/productos/create"
@using Microsoft.EntityFrameworkCore
@using PracticaClase.Models
@inject IDbContextFactory<AppDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Producto</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Producto" OnValidSubmit="AddProducto" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="descripcion" class="form-label">Descripcion:</label> 
                <InputText id="descripcion" @bind-Value="Producto.Descripcion" class="form-control" /> 
                <ValidationMessage For="() => Producto.Descripcion" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="precio" class="form-label">Precio:</label> 
                <InputNumber id="precio" @bind-Value="Producto.Precio" class="form-control" /> 
                <ValidationMessage For="() => Producto.Precio" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="existencia" class="form-label">Existencia:</label> 
                <InputNumber id="existencia" @bind-Value="Producto.Existencia" class="form-control" /> 
                <ValidationMessage For="() => Producto.Existencia" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="iva" class="form-label">Iva:</label> 
                <InputNumber id="iva" @bind-Value="Producto.Iva" class="form-control" /> 
                <ValidationMessage For="() => Producto.Iva" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="proveedorcodigo" class="form-label">ProveedorCodigo:</label> 
                <InputNumber id="proveedorcodigo" @bind-Value="Producto.ProveedorCodigo" class="form-control" /> 
                <ValidationMessage For="() => Producto.ProveedorCodigo" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/productos">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Producto Producto { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddProducto()
    {
        using var context = DbFactory.CreateDbContext();
        context.Productos.Add(Producto);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/productos");
    }
}
